@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background: #1E1E1E;
}

.App {
  height: 100%;
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
  background-color: #1E1E1E;
}

#blah {
  color: white;
}

#Logo {
  position: absolute;
  top: 100px;
  display: block;
  height: 180px;
  width: 722px;
  pointer-events: none;
  left: 50%;
  margin-left: -361px;
}

#formbox {
  position: absolute;
  top: 350px;
  left: 50%;
  margin-left: -175px;
}

    .namebox {
      outline: none;
        background-color: #1E1E1E;
        color: white;
      border: solid 3px white;
      border-radius: 6px;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 28px;
      display: block;
      width: 350px;
      height: 40px;
      padding-left: 10px;
    }

    .usernamesubmit {
      outline: none;
        background-color: #1E1E1E;
        color: #38698E;
      border: solid 3px #38698E;
      border-radius: 6px;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 24px;
      width: 170px;
      height: 45px;
      margin-top: 40px;
      float: left;
    }

    .usernamesubmit:hover {
      cursor: pointer;
      background-color: #38698E;
      color: #1E1E1E;
    }

    #howtoplay {
      outline: none;
        background-color: #1E1E1E;
        color: #3E9A88;
      border: solid 3px #3E9A88;
      border-radius: 6px;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 24px;
      display: block;
      width: 170px;
      height: 45px;
      margin-top: 40px;
      float: right; 
    }

    #howtoplay:hover {
      cursor: pointer;
      background-color: #3E9A88;
      color: #1E1E1E;
    }

    .hometext {
      text-align: center;
      font-size: 28px;
    }

    #logopic {
      float: left;
      margin: 15px 0 15px 0;
    }

    #title {
      display: block;
      font-size: 95px;
      float: left;
      margin: 10px 0 20px;
    }

    #subtitle {
      text-align: left;
      display: block;
      font-size: 34px;
      margin: 0;
    }

#homepage, #Lobby {
  height: 100vh;
  width: 100vw;
  background-color: #1E1E1E;
  color: white;
}

#Tutorial {
  width: 350px;
  position: absolute;
  top: 350px;
  left: 50%;
  margin-left: -175px;
}

.RoomBox {
  display: inline-block;
  width: 300px;
  height: 125px;
  background-color: none;
  border: 3px solid white;
  border-radius: 10px;
  margin: 0 25px 50px 25px;
}

#welcome {
  position: absolute;
  display: inline-block;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0;
  top: 50px;
  font-size: 48px;
}
    
    #roomtitle {
      margin: 0 auto;
      font-size: 28px;
      padding: 15px;
    }

    #roomflex {
      position: absolute;
      top: 175px;
      height: calc(100vh - 300px);
      overflow-y: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .loading {
      color: #A9A9A9;
      font-size: 36px;
      display: block;
      text-align: center;
      position: fixed;
      top: 45%;
      left: 45%;
    }

    .join {
      outline: none;
        background-color: #1E1E1E;
        color: #38698E;
      border: solid 3px #38698E;
      border-radius: 6px;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 24px;
      width: 170px;
      height: 45px;
    }

    .createform {
      position: absolute;
      bottom: 50px;
      left: 50%;
      margin-left: -250px;
      width: 500px;
    }

    .createroombox {
      outline: none;
        background-color: #1E1E1E;
        color: white;
      border: solid 3px white;
      border-radius: 6px;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 28px;
      display: inline;
      width: 250px;
      height: 40px;
      padding-left: 10px;
      margin-right: 50px;   
    }

    .create {
      display: inline;
      outline: none;
        background-color: #1E1E1E;
        color: #38698E;
      border: solid 3px #38698E;
      border-radius: 6px;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 24px;
      width: 170px;
      height: 45px;
    }

    .create:hover {
      cursor: pointer;
      background-color: #38698E;
      color: #1E1E1E;  
    }

    .RoomBox:nth-child(even) .join {
      color: #3E9A88;
      border: solid 3px #3E9A88;
    }

    .RoomBox:nth-child(even) .join:hover {
      cursor: pointer;
      background-color: #3E9A88;
      color: #1E1E1E;
    }

    .join:hover {
      cursor: pointer;
      background-color: #38698E;
      color: #1E1E1E;
    }

    .filler {
      width: 306px;
      height: 0;
      margin: 25px;
    }

    #back {
      outline: none;
        background-color: #1E1E1E;
        color: #3E9A88;
      border: solid 3px #3E9A88;
      border-radius: 6px;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 24px;
      display: block;
      width: 170px;
      height: 45px;
      margin: 40px auto 0 auto; 
    }

    #back:hover {
      cursor: pointer;
      background-color: #3E9A88;
      color: #1E1E1E;
    }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 1px;
  background: white;
  border-radius: 10px;
  border: 3px solid #1E1E1E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #CCCCCC;
}


.App-header {
  background-color: #1E1E1E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #FEFEEF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Typist .Cursor {
  display: inline-block; }
  .Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
